@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #0F172A;
    --card: #FFFFFF;
    --card-foreground: #0F172A;
    --popover: #FFFFFF;
    --popover-foreground: #0F172A;
    --primary: #2563EB;
    --primary-foreground: #FFFFFF;
    --secondary: #F8FAFC;
    --secondary-foreground: #0F172A;
    --muted: #F8FAFC;
    --muted-foreground: #64748B;
    --accent: #F8FAFC;
    --accent-foreground: #0F172A;
    --destructive: #BA1A1A;
    --destructive-foreground: #FFFFFF;
    --border: #E2E8F0;
    --input: #E2E8F0;
    --ring: #2563EB;
    --radius: 1rem;
  }

  .dark {
    --background: #0B1C30;
    --foreground: #F8F9FF;
    --card: #0B1C30;
    --card-foreground: #F8F9FF;
    --popover: #0B1C30;
    --popover-foreground: #F8F9FF;
    --primary: #2563EB;
    --primary-foreground: #FFFFFF;
    --secondary: #213145;
    --secondary-foreground: #F8F9FF;
    --muted: #213145;
    --muted-foreground: #C3C6D7;
    --accent: #213145;
    --accent-foreground: #F8F9FF;
    --destructive: #FFDAD6;
    --destructive-foreground: #93000A;
    --border: #434655;
    --input: #434655;
    --ring: #2563EB;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}